.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    justify-content: center;
    color: white;
    background: #00000063;
    padding: 20px;
    height: 60px;
    width: 65px;
    border-radius: 50%;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: green;
  }
}
